html, body {
	transition: 1s;
	margin: 0;
	padding: 0;
	width: 100%;
	scroll-behavior: smooth;
}
body {
	
	font-family: Arial;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  	background-color: darkgrey;
  	outline: 1px solid slategrey;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	min-height: 400px;

}
header {
	padding: 0;
	width: 100%;
	height: 92.4vh;
	background: url(img/pexels-photo-273222.jpeg) no-repeat 50% 50% ;
	background-position: right;
	background-size: cover;
}
.header {
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
header .header h1 {
	left: 0px;
	margin: 0;
	text-align: center;
	color: #fff;
	font-family: Brush Script MT;
	text-shadow: 5px 5px 5px #111;
	font-size: 13.5vmin;
	font-weight: bold;
}
header .header h1 span {
	color: #e8491d;
}
header .tagline {
	width: 80%;
	text-align: center;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header .tagline p {
	text-align: center;
	padding: 10px 7px;
	background-color: rgba(0,0,0,0.4);
	font-size: 5vmin;
	color: #fff;
	font-family: Gabriola;
}
header .tagline .down {
	size: 100px;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}
header .down {
	position: absolute;
	top: 80%;
	right: 50%;
	transition: absolute;
}
header .down img {
	width: 45px;
	margin-left: 60%;
}
.logo p{
	position: fixed;
	float: left;
	margin: 15px 25px;
	color: #000;
	font-weight: bold;
	font-size: 15pt;
	color: #fff;
}
.logo p span {
	color: #e8491d;
}
nav {
	position: fixed;
	width: 100%;
}
nav ul {
	overflow: hidden;
	color: #35414a;
	padding: 0;
	text-align: right;
	margin: 0;
	transition: 1s;
}
nav.black ul {
	background: #35414a;
	border-bottom: #e8491d 2px solid;
}
nav ul li {
	display: inline-block;
	padding: 15px;
}
.menu ul {
	display: block;
}
nav .menu ul li a:hover {
	cursor: pointer;
	color: #e8491d;
}
nav .menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 17pt;
	font-weight: bold;
}
.menu ul li .fa-file-text{
	text-decoration: none;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}  
.menu ul li .fa-file-text:hover {
	cursor: pointer;
	color: #e8491d;
}
.menu-icon {
	width: 100%;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
	font-size: 1vh;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 50px;
}
.sidenav * {
	text-align: center;
	margin: 0;
	padding: 0;
}
.sidenav ul li {
	text-decoration: none;
	display: block;
	padding: 14.7px;
}
#close {
	border-bottom: #e8491d 2px solid;
	text-align: right;
	left: 0;
	max-width: 49vh;
	top: 0;
	display: inline-block;
	position: absolute;
	background: #35414a;
	width: 100%;
}
#close i {
	display:inline;
	color: #fff;
	font-weight: bold;
	font-size: 12pt;
	padding-left: 80px;
	padding-right: 40px;
}
#close span {
	padding: 0;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 12pt;
	margin-left: 0;
}
.sidenav a {
	display: inline;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}
#close i:hover {
    color: #e8491d;
}
.ChapterMenu:hover {
	color: #e8491d;
}
.NavChapter ul{
	display: none;
}
.NavChapter:hover ul{
	display: block;
	color: #e8491d;
}
.sidenav .NavChapter {
	margin-left: 30px;
	text-align: center;
	border-bottom: #e8491d 2px solid;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ChapterMenu {
	padding: 10px 60px 10px 60px;
	text-align: center;
	border: #666 2px solid;
}
.ChapterContent {
	padding-top: 30px;
	margin: 
}

#headerbottom {
	margin: 0;
	padding: 1px;
	background: #35414a;
	border-bottom: #e8491d 2px solid;
}
.bottom {
	min-height: 7vh;
	padding: 0;
	color: #35414a;
}

/* content */
.full-width {
	width: 100%;
}
.col-7 {
	width: 65%;
	min-height: auto;
	float: left;
	box-sizing: border-box;
}
.col-3 {
	width: 35%;
	min-height: auto;
	float: right;
	box-sizing: border-box;
}
.margin-top {
	margin-top: 20px;
	margin-right: 0;
}
.Chapter {
	margin-bottom: 20px;
	float: none;
	background-color: #d9d9d9;
	border-bottom: #e8491d 2px solid;
}
.Chapter h1 {
	font-family: Oswald;
	padding: 0;
	padding-top: 19px;
	text-align: center;
	margin: 0;
	font-style: initial;
}
.Chapter h2 {
	font-family:  Oswald;
	color: #000;
	text-align: center;
	font-style: initial;
	padding: 0;
	text-transform: capitalize;
}
.txt {
	line-height: 47px;
	margin: 0;
	margin-bottom: 20px;
	padding: 15px;
	background: #ededf7;
}
.txt h2{
	font-family:  Oswald;
	letter-spacing: 2px;
	text-align: center;
	margin: 30px 0px 30px 0px;
}

.indent {
    text-indent: 50px;
}
.txt p { 
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 16px;
	font-family: Open Sans;
}
.p1 p {
	padding-left: 10%;
	padding-bottom: 0;
	padding-top: 0;
}
.p2 p {
	padding-left: 18%;
	padding-bottom: 0;
}
th {
	background-color: #35414a;
	color: #fff;
}
.table, td, th {
	padding: 3px;
	line-height: normal;
  	border: 1px solid black;
  	text-align: center;
	font-family: Open Sans;
  	font-size: 0.8vw;
  	vertical-align: top;
  	max-height: 50px;
}
.table {
  	border-collapse: collapse;
  	max-width: 100%;
}
.col-3 ul{
	list-style: none;
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: left;
	margin-right: 15px;
	border-bottom: #e8491d 2px solid;

}
.ul1 li {
	display: block;
	padding: 20px;
	background: #35414a;
}
.ul1 li h2 {
	margin: 0;
	text-align: left;
	padding: 0px;
	font-size: 18px;
	color: #fff;
	font-family: sans-serif;
}
.chapterNav ul {
	background: #fff;
	background: #35414a;
	border-bottom: #e8491d 2px solid;
}
.chapterNav ul li{
	padding: 20px;
	background: #fff;
	background: #35414a;
	border-bottom: rgba(0,0,0,1.1);
}
.chapterNav ul li a:hover {
	cursor: pointer;
	color: #e8491d;
	border-radius: 15px 15px;
}
.chapterNav ul li a {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

/*footer*/
#Researchers {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 10px;
}
#Researchers h2 {
	padding: 5px;
	text-align: center;
	border: #e8491d 2px solid;
	border-radius: 50px 50px;
}
.aboutAs {
	bottom: 0;
	max-height: 300px;
	padding: 0;
	margin: 0;
	color: #fff;
	background: #35414a;
}
.aboutAs  ul{
	top: 10%;
	text-align: center;
	padding: 10px;
	margin: 0;
}
.aboutAs ul li {
	display: inline-block;
	margin:0;
}
.about {
	padding: 4px;
	border-radius: 90% 90%;
	background-color: #999;
	width: 10vh;
	transition: transform 1s;
}
.imgBox {
	margin: 0;
}
.about img {
	float: left;
	border-radius: 90% 90% ;
	max-width: 100%;

}
.about:hover {
	transform: scale(1.2);
}
.icon {
	top: 35%;
	margin: 0;
	float: none;
	width: 100%;
	position: absolute;
	transform: scale(0);
	transition: transform 1s;
}
.about:hover .icon {
	transform: scale(1.5);
}
.about .imgBox .icon ul {
	border-radius: 10% 10% ;
	background: rgba(0,0,0,0.4);
	text-align: center;
  	margin: 5;
  	padding: 0;
}
.about .imgBox .icon ul li {
	display: inline-block;
	margin:0;
}
.about .imgBox .icon ul li a {
	font-size: 1vmax;
	color: #fff;
	text-decoration: none;
	padding: 5px;
}
.about .imgBox .icon ul li a:hover {
	color: #e8491d;
}
#bottomfooter {
	height: 100%;
	background-color: #43484c;
	margin: 0;
	border-bottom: #e8491d 2px solid;
}
#WebInfo {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
#col2-1 {
	text-align: left;
	width: 33.3%;
	min-height: auto;
	float: left;
	box-sizing: border-box;
}

#col2-2 {
	text-align: left;
	width: 33.3%;
	min-height: auto;
	float: left;
	box-sizing: border-box;
}
#col2-3 {
	text-align: left;
	width: 33.3%;
	min-height: auto;
	float: left;
	box-sizing: border-box;
}